<div class="container">
      <h2>User settings</h2>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
        <label for="name"></label>
        <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="userSettings.name" required #classTest #propertyTest="ngModel" #nameField="ngModel" (blur)="onBlur(nameField)" [class.field-error]="form.submitted && nameField.invalid" />
        <!--
        <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger p-1 text-small">
        -->
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger p-1 text-small">
          Enter a name
        </div>
      </div>

      <div [hidden]="!nameField.dirty" class="form-check form-group">
        <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers" #emailOffersField="ngModel">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
      </div>
   
      <div [hidden]="!emailOffersField.dirty" class="form-group">
        <h5>User Interface Style</h5>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked [(ngModel)]="userSettings.interfaceStyle">
          <label class="form-check-label" for="lightInterface">
            Light
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" checked [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="mediumInterface">
              Medium
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" checked [(ngModel)]="userSettings.interfaceStyle">
            <label class="form-check-label" for="darkInterface">
              Dark
            </label>
        </div>
      <div class="form-group">
        <label for="subscriptionType">Subscription Type</label>
        <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
          <!-- (1) 
<option *ngFor="let type of subscriptionTypes">{{ type }}</option> 
We have a select element in our form with several options. It's extremely common to get these options off of some kind of data service. 
That way they can be built dynamically on the server side or even built in the data service itself. 
Let's take a look at our template for our form, and find the select element. Here's our template, and scrolling down, here's our select tag with several options. Let's get these from the DataService instead. I'll delete two options, and in the first option, we'll see the ngFor directive, that's *ngFor.
And that'll let us create several options based on data. So we'll say let type of subscriptionTypes. So we need a property on our class called 
subscriptionTypes, and for each one of those subscriptionTypes, it'll be assigned to the variable type, so let's show that in the option.
          -->
          <option *ngFor="let type of subscriptionTypes | async">{{ type }}</option><!-- (7) -->
<!-- (7)
One last thing we need to do is to go back to our template, and subscriptionTypes is now an observable, so we need to use what's called the async pipe. We use the pipe symbol and the keyword async. This will wait until the observable has gotten its data and is completed until it builds up our options. So I'll make sure everything's saved with a Save All, and let's take a look at our form. I'll look at the Subscription Types, and we get Monthly, Annual, and Lifetime. So that covers all the data scenarios I wanted to cover in this module. We'll wrap things up with a summary.
-->
        </select>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" class="form-control" rows="3" [(ngModel)]="userSettings.notes"></textarea>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="userSettings.password">
      </div>
      <div class="form-group">
        <label for="testing">Testing</label>
        <input type="date" id="testing" name="testing" class="form-control" [(ngModel)]="userSettings.testing">
      </div>


      </div>
        <div [hidden]="!postError" class="alert alert-danger">{{ postErrorMessage }}</div>
        <button class="btn btn-secondary">Ok</button>
      </form>
    </div>
    <pre>
    {{ userSettings | json }}
    </pre>